!.*
*.*history
*.log
*.sqlite
Code/
GIMP/
Thunar/
VirtualBox/
calcurse/.*
calcurse/.calcurse.pid
calcurse/apts
calcurse/config
calcurse/notes/
calcurse/todo
chromium/
coc/
dconf/
gcloud/
gnupg/
menus/
mpd/database
mpd/log
mpd/pid
mpd/state
mpd/sticker.sql
ncmpcpp/ncmpcpp-ueberzug
nnn/
nvim/plugged/
odrive/
pam/pam_gnupg
pulse/
spicetify/
spotify/
transmission/
xfce4/xfconf/xfce-perchannel-xml/*
zsh/.zcompdump
zsh/.zinit/
QtProject.conf
