!.*
autokey/
autostart/
beets/log
Bitwarden/
calcurse/.*
calcurse/apts
calcurse/.calcurse.pid
calcurse/config
calcurse/notes/
calcurse/todo
calibre/
chromium/
coc/
Code/
*.db
dconf/
dconf/user
gcloud/
gh/hosts.yml
GIMP/
gnupg/
google-chrome/
google-chrome-beta/
*.*history
kdeconnect/
*.log
menus/
Microsoft/
mpd/database
mpd/db
mpd/log
mpd/pid
mpd/playlists
mpd/state
mpd/sticker.sql
ncmpcpp/ncmpcpp-ueberzug
.netrwhist
nnn/
nvim/
nvim-bak/plugged/
nvim/plugged/
obsidian/
odrive/
packer_compiled.lua
pam/pam_gnupg
*.pickle
_poetry
pulse/
QtProject.conf
Slack/
spicetify/
*.spl
spotify/
spotifyd/
spotify-tui/
*.sqlite
Thunar/
transmission/
via-nativia/
VirtualBox/
vivaldi/
vivaldi-snapshot/
xfce4/xfconf/xfce-perchannel-xml/*
zsh/.zcompdump
zsh/.zinit/
