!.*
*.*history
*.db
*.log
*.pickle
*.sqlite
_poetry
.netrwhist
autokey/
autostart/
beets/log
calcurse/.calcurse.pid
calcurse/apts
calcurse/config
calcurse/notes/
calcurse/todo
calibre/
Code/
gh/hosts.yml
GIMP/
google-chrome/
google-chrome-beta/
chromium/
coc/
dconf/
gcloud/
gnupg/
kdeconnect/
menus/
Microsoft/
mpd/database
mpd/db
mpd/log
mpd/pid
mpd/playlists
mpd/state
mpd/sticker.sql
ncmpcpp/ncmpcpp-ueberzug
nnn/
nvim/
nvim/plugged/
nvim-bak/plugged/
obsidian/
odrive/
packer_compiled.lua
pam/pam_gnupg
pulse/
QtProject.conf
Slack/
spicetify/
spotify/
spotifyd/
spotify-tui/
Thunar/
transmission/
VirtualBox/
calcurse/.*
vivaldi/
vivaldi-snapshot/
xfce4/xfconf/xfce-perchannel-xml/*
zsh/.zcompdump
zsh/.zinit/
